﻿<header class="main-header">
    <a href="http://orbitgroup.ca/" class="logo">
        <span class="logo-lg"><img src="@Url.Content("~/Content/images/orbit_opt.png")" alt="Orbit Group"></span>
    </a>
    <nav class="navbar navbar-static-top">
    </nav>
</header>

